In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\Owner\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)
 # HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [4]:
# Retrieve the parent divs for all articles
results = soup.find_all('div', class_ = "list_text")
# Get the title and teaser from first article
title = results[0].find('div', class_='content_title').text
teaser = results[0].find('div', class_='article_teaser_body').text

In [5]:
print(title)
print(teaser)

NASA's Curiosity Rover Finds an Ancient Oasis on Mars
New evidence suggests salty, shallow ponds once dotted a Martian crater — a sign of the planet's drying climate.

In [6]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)
 # HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [7]:
img_result = soup.find('a', class_="showimg fancybox-thumbs")
featured_img_url = url + img_result['href']
print(featured_img_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

In [8]:

url = 'https://galaxyfacts-mars.com/'
browser.visit(url)
 # HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [9]:
tables = pd.read_html(url)
mars_facts = tables[0]

In [10]:
mars_facts.drop(index=0, inplace=True)
mars_facts.head()

                    0                1                2
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days

In [11]:
mars_facts.rename(columns = {0:"Mars - Earth Comparison", 1 : "Mars", 2 : "Earth"}, inplace=True)
mars_facts.head()

  Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days

In [12]:
mars_facts.set_index(inplace=True, keys = 'Mars - Earth Comparison')
mars_facts.head()

                                    Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days

In [ ]:
mars_facts_html = mars_facts